*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

img{
    margin: 5px;
    width: 10%; 
}
body{
    font-family: sans-serif;
    font-size: 16px;
    background-color: steelblue;
    color: aliceblue;
}

#body{ 
    background-color: steelblue;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#body a{ 
    color: #fff; 
    display: inline-block;
    padding: 0.5em;
    text-decoration: none; 
}

p {
    padding-top: 10px;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.datos {
    margin-right: 100px;
}

hr {
    width: 50%;
    margin-top: 10px;
}

#myDIV {
    visibility: hidden;
}
#consultar { 
    background-color: steelblue;
    text-align: center;
}
#consultar a{ 
    color: #fff; 
    display: inline-block; 
    padding: 0.5em;
    text-decoration: none; 
}
#consultar a:hover{
    color: aqua; 
}
    
#atras{
    background-color: steelblue;
    text-align: center;
}
#atras a{
    color: #fff; 
    display: inline-block; 
    padding: 0.5em;
    text-decoration: none; 
}
#atras a:hover{
    color: aqua; 
}

.tabla {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}

.bg-item{
    background-color: rgb(0, 0, 0);
}
  
.item {
    font-size: 20px;
    text-transform: uppercase;
}  
table {
    width: 50%;
    justify-content: center;
    text-align: center;
    padding-left: 40%;
    margin-right: 45%;
    border-color: #fff;


}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
  
.background-table{
    background-color: rgb(255, 255, 255);
    color: black;
}
  